body {
    background-color: #3A7734 !important;
}
.my-navbar {
    margin: 0;
    height: 10%;
    width: 100vw;
    background-color: #f8f9fa;
    position: absolute;
    top: 0;
}
footer {
    margin: 0;
    height: 10%;
    width: 100vw;
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
}
.btn {
    font-size: 2vmax !important;
}
img {
    height: 10vmax !important;
}
.centralize {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#btn-double, #btn-hit, #btn-split, #btn-stand, #btn-surrender {
    margin: 0 4px;
}
#main-deck-player {
    position: absolute;
    bottom: 50%;
    z-index: -2;
    transform: translate(0,50%);
}
#main-deck-dealer {
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translate(0,-50%);
}
#main-deck-stationer {
    position: absolute;
    top: 50%;
    z-index: -3;
    transform: translate(0,-50%);
}
.deck {
    margin: 5px 0 !important;
    align-content: center;
    border: 1px solid white;
}
.player-card, .dealer-card {
    position: relative;
    top: 0;
    height: 10vmax !important;
    width: 7vmax !important;
    padding: 0 !important;
}
.hidden {
    visibility: hidden;
}
#player-deck{
    position: absolute;
    height: 10vmax;
    width: 100%;
    bottom: 10%;
    margin: 0;
}
#dealer-deck {
    position: absolute;
    height: 10vmax;
    width: 100%;
    top: 10%;
    margin: 0;
}
.deal-player-card {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    bottom: 10.4% !important;
    left: 0 !important;
    z-index: 2 !important;
    animation: slide 3s forwards;
}
@keyframes slide {
    100% { left: 50%; }
}
.deal-dealer-card {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    top: 10.4% !important;
    left: 0 !important;
    z-index: 2 !important;
    animation: slide 3s forwards;
}
.flip-card {
    position: absolute; !important;
    transition: 0.6s !important;
    transform: scale(-1, 1) rotateY(180deg);
}
.front{
    position: inherit;
    z-index: 1 !important;
}
.back {
    position: inherit;
    z-index: 2 !important;
    backface-visibility: hidden !important;
}