{% extends 'layout.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='js/ui.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}
{% block content %}
    <div id="bet" data-amount="{{ bet }}"></div>
    <div id="dealer-deck" class="row deck">
    </div>
    <div id="player-deck" class="row deck">
    </div>
    <img id="decor-chip" src="{{ url_for('static', filename='img/chip.png') }}">
    <footer>
        <div class="centralize">
            <div id="btn-double" class="btn btn-danger">Double</div>
            <div id="btn-split" class="btn btn-info">Split</div>
            <div id="btn-hit" class="btn btn-success">Hit</div>
            <div id="btn-stand" class="btn btn-secondary">Stand</div>
            <div id="btn-surrender" class="btn btn-secondary">Surrender</div>
            <div id="chips" data-amount="{{ chips }}"></div>
        </div>
    </footer>

{% endblock %}