<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tetris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slots.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <img id="main-deck-dealer" class="" src="{{ url_for('static', filename='img/cards/cardback.png') }}">
    <img id="main-deck-player" class="" src="{{ url_for('static', filename='img/cards/cardback.png') }}">
    <img id="main-deck-stationer" class="" src="{{ url_for('static', filename='img/cards/cardback.png') }}">
    <nav class="my-navbar">
        <div class="centralize">
            Tetris BlackJack Cave
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>